@model IEnumerable<WypozyczalniaPojazdowElektrycznych3.Models.Vehicle>

@{
    ViewData["Title"] = "Wypożyczalnia";
}

<h1>Wypożyczalnia</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Model
            </th>
            <th>
                Marka
            </th>
            <th>
                Kategoria
            </th>
            <th>
                Kolor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model.Manufacturer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                <form method="post">
                    <input type="date" />
                    <input type="submit" value="Wypożycz" />
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
