@{
    ViewData["Title"] = "Wypożyczalnia pojazdów elektrycznych";
}

<div class="text-center">
    <h1 class="display-4">Wypożyczalnia pojazdów elektrycznych</h1>
    <p><a>Użyj zakładek powyżej aby nawigować po aplikacji</a>.</p>
</div>
